.search-bar {
    margin: 48px auto;
    max-width: 628px;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    & .v-input__details {
        display: none;
    }
}

// Promotion carousel
.promotion-carousel {
    & h1 {
        background: rgba(0, 0, 0, 0.26);
    }
    & .text-h1 {
        margin: 0 !important;
    }
    & p {
        background: rgba(0, 0, 0, 0.26);
        font-size: 20px;
        font-weight: 500;
    }
}

// Products slider
.slider-title {
    color: var(--primary500);
    cursor: pointer;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 16px;
}

.slider-card {
    border-radius: 6px;
    cursor: pointer;
    height: 100%;
    padding: 30px 50px;
    transition: 0.5s;
    width: 288px;
    &:hover {
        box-shadow: 0 2px 4px #00000029;
    }
}

// Blog slider
.blog-title {
    color: var(--primary500);
    cursor: pointer;
    font-size: 60px;
    margin-bottom: 16px;
}

// Footer
footer {
    color: var(--text-secondary);
    & a {
        background-color: transparent;
        text-decoration: unset;
        color: var(--text-secondary);
    }
}

.footer-logo {
    color: var(--primary500);
    height: 52px;
    width: 55px;
}

// Login Form
.login-form {
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    width: 550px;
  }
  
  .logo-wrapper {
    background-color: var(--primary500);
    border-radius: 999px;
    height: 92px;
    width: 92px;
  }
  
  .auth-actions {
    color: var(--info);
    cursor: pointer;
  }