:root {
    --primary50: #eef5f2;
    --primary100: #d0e8dd;
    --primary500: #4ec690;
    --primary800: #00a669;
    --secondary500: #f09e00;
    --greyscale-1: #9fa2b4;
    --grey50: #fafafa;
    --grey100: #f4f6f5;
    --grey200: #ecf0ef;
    --grey300: #dde3e2;
    --grey400: #b6c4c1;
    --grey600: #69817b;
    --info: #1976d2;
    --mainInfo: #2196f3;
    --success: #4caf50;
    --border-color: #0000003b;
    --disabled-bg: rgba(0, 0, 0, 0.12);
    --disabled-text: rgba(0, 0, 0, 0.26);
    --text-secondary: rgba(0, 0, 0, 0.54);
    --text-primary: rgba(0, 0, 0, 0.87);
  }